<head>
  <meta charset="UTF-8">
  <title>Jen's Hens</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Audiowide&family=Alata&family=Krona+One&family=Righteous&family=Zen+Dots&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-color">
  <!-- NAV BAR -->
  <nav class="nav-color">
    <a class="nav-wrapper" style="filter: drop-shadow(0 0 0.75rem white);">
      <a href="/" class="responsive-img" style=""><img src="images/Jens Hens Logo 297x139.png" title='Home'
          alt="Jen's Hens" class="logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      {{#if logged_in}}
        <span class="center brand-logo welcome">Welcome {{first_name}} {{last_name}}!</span>
      {{/if}}

      <ul class="right hide-on-med-and-down full-nav-links">
        <li><a href="/">Home</a></li>
        {{#if logged_in}}
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/myorders">My Orders</a></li>
        {{#if admin}}
        <li><a href="/users">Users</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {{/if}}
        <li><a id='logOutBtn1'>Logout</a></li>
        {{else}}
        <li><a href="/login">Login/Sign Up</a></li>
        {{/if}}
      </ul>
  </nav>
  <!-- custom SIDE NAV for smaller screens -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/">home</a></li>
    
  
      {{#if logged_in}}
      <li><a href="/checkout">Checkout</a></li>
      <li><a href="/myorders">My Orders</a></li>
      {{#if admin}}
        <li><a href="/users">Users</a></li>
        <li><a href="/orders">Orders</a></li>
        {{/if}}
      <li><a id='logOutBtn1'>Logout</a></li>
      
      {{else}}
      <li><a href="/login">Login/Sign up</a></li>
      {{/if}}
    </ul>

  
  {{{body}}}

  <!-- footer -->
  <footer class="nav-color page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Thank You</h5>
          <p class="grey-text text-lighten-4">Thank you for taking the time to visit our page. I hope you join our journey and choose to sponsor one of our chickens or if you're local, consider ordering some eggs! I hope our journeys cross again soon!<br/><br/>
            Sincerely,<br/> Jenn @ Jenn's Hens
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/terms">Terms of Service</a></li>
            {{!-- <li><a class="grey-text text-lighten-3" href="/dashboard">dashboard</a></li> --}}
            {{#if logged_in}}
            <li><a class="grey-text text-lighten-3" href="/logout">Logout</a></li>
            {{else}}
            <li><a class="grey-text text-lighten-3" href="/login">Login/Sign Up</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="center-align container">
        <p>© 2021 Copyright <a href=https://github.com/cbmartinez42/jens-hens-project>mimsArmy</a></p>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/index.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>