
<h5 class="center-align fredoka">All Orders</h5>

<!-- Loop over each object in the projects array -->
<div class="container orderBody">
    <table>
        <thead>
            <tr>
                <th>Fulfilled?</th>
                <th>Order Date</th>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Qty Requested</th>
                <th>Item Price</th>
                <th>Extended Price</th>
                <th>Special Instructions</th>
            </tr>
        </thead>
        {{#each Orders as |order| }}
        <tbody>
            {{#if fulfilled}}
            <td><label>
                    <input type="checkbox" checked="checked" disabled="disabled" />
                    <span>5/15/2021</span>
                </label></td>
            {{else}}
            <td><label>
                    <input type="checkbox" />
                    <span data-id="{{id}}">Fulfill Now?</span>
                </label></td>
            {{/if}}
            <td>{{ format_date created_at}}</td>
            <td>{{order.id}}</td>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{order.order_quantity}}</td>
            <td>$0.50</td>
            <td>$100.00</td>
            <td>{{order.spec_inst}}</td>
        </tbody>

            {{/each}}
    </table>
</div>

<h5 class="center-align fredoka">All Users</h5>

<!-- Loop over each object in the projects array -->
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Is Admin</th>
                <th>Admin Requested?</th>
                <th>Make Admin?</th>
                <th>Full Name</th>
                <th>email</th>
            </tr>
        </thead>
        <div >
            <tbody class="userBody">
            {{#each users as |user| }}
            <tr>
                <td>{{admin}}</td>
                <td>{{request_admin}}</td>
                {{#unless request_admin}}
                <td>N/A</td>
                {{else}}
                <td><label>
                        <input type="checkbox" />
                        <a data-id="{{id}}" class="waves-effect waves-light btn"><span>Grant Admin
                                Priveledges?</span></a>
                    </label></td>
                {{/unless}}
                <td>{{full_name}}</td>
                <td>{{email}}</td>
            </tr>

                {{/each}}
            </tbody>
        </div>
    </table>
</div>




<script src="../js/dashboard.js"></script>