{{!-- {{#if logged_in}} --}}

<h5 class="center-align">All Orders</h5>

<!-- Loop over each object in the projects array -->
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Fulfilled?</th>
                <th>Order Date</th>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Qty Requested</th>
                <th>Item Price</th>
                <th>Extended Price</th>
            </tr>
        </thead>
        {{#each Orders as |order| }}
        <tbody>
            {{#if fulfilled}}
            <td><label>
                    <input type="checkbox" checked="checked" disabled="disabled" />
                    <span>5/15/2021</span>
                </label></td>
            {{else}}
            <td><label>
                    <input type="checkbox" />
                    <span>Fulifill Now?</span>
                </label></td>
            {{/if}}
            <td>{{created_at}}</td>
            <td>{{id}}</td>
            <td>{{User.full_name}}</td>
            <td>{{order_quantity}}</td>
            <td>$0.50</td>
            <td>$100.00</td>
        </tbody>
        {{order_quanity}}
        {{!-- <p>
            Order ID: {{order.id}}
            {{ <a class="text-decoration-none" href="/post/{{post.id}}">{{post.title}}</a> --}}
            {{/each}}
    </table>
</div>

<h5 class="center-align">All Users</h5>

<!-- Loop over each object in the projects array -->
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Is Admin</th>
                <th>Admin Requested?</th>
                <th>Make Admin?</th>
                <th>Full Name</th>
                <th>email</th>
            </tr>
        </thead>
        <div class="userBody">
            {{#each users as |user| }}
            <tbody>
                <td>{{admin}}</td>
                <td>{{request_admin}}</td>
                {{#unless request_admin}}
                <td>N/A</td>
                {{else}}
                <td><label>
                        <input type="checkbox" />
                        <a data-id="{{id}}" class="waves-effect waves-light btn"><span>Grant Admin
                                Priveledges?</span></a>
                        {{!-- <a data-id="{{id}}" class="waves-effect waves-light btn">Grant Admin Priveledges?</a> --}}
                    </label></td>
                {{/unless}}
                <td>{{full_name}}</td>
                <td>{{email}}</td>
            </tbody>
            {{!-- <p>
                Order ID: {{order.id}}
                {{ <a class="text-decoration-none" href="/post/{{post.id}}">{{post.title}}</a> --}}
                {{/each}}
        </div>
    </table>
</div>

{{!-- {{else}}
<h5 class="center-align">This user is not an admin</h5>
{{/if}} --}}

<div class="orders-container">

    {{!-- {{#if Orders}} --}}
 <div class="container">
<table>
    <thead>
        <tr>
            <th>Fulfilled?</th>
            <th>Order Date</th>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Qty Requested</th>
            <th>Item Price</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    {{#each Orders as |order| }}
    <tbody>
        {{#if fulfilled}}
        {{!-- <td><i class="small material-icons">insert_chart</i></td> --}}
        <td><label>
            <input type="checkbox" checked="checked" disabled="disabled" />
            <span>5/15/2021</span>
        </label></td>
        {{else}}
        <td><label>
            <input type="checkbox" />
            <span>Fulfill Now?</span>
        </label></td>
        {{/if}}
        <td>{{format_date createdAt}}</td>        
        <td>{{id}}</td>
        <td>{{User.full_name}}</td>
        <td>{{order_quantity}}</td>
        <td>$0.50</td>
        <td>$100.00</td>
    </tbody>
    {{order_quantity}}
    {{!-- <p>
        Order ID: {{order.id}}
      {{ <a class="text-decoration-none" href="/post/{{post.id}}">{{post.title}}</a> --}}
{{/each}}
</table>
</div>
    {{!-- {{else}}
    <div class="row">
        <div class="col s12 m8 offset-m2 center-align">
            <div class="card blue-grey darken-1">
                This user has no orders!
                To get started, go to the<a href="/home">homepage</a> and click the Buy Now button!
            </div>
        </div>
    </div>
    {{/if}} --}}
</div>

{{!-- {{#if request_admin}}
<p class="center-align"> You have already requested admin priveledges! Please wait to be accepted by one of the current administrators. </p>
{{else}}
<div class="row">
    <div class="">
        <p class="center-align">Would you like to request admin access?</p>
    </div class="container valign-wrapper center-align">
    <a id="requestAdminBtn" request-id={{id}} class="waves-effect waves-light btn mt" style="filter: drop-shadow(0 0 0.75rem black);"><i
            class="material-icons left">verified_user</i>Request</a>
</div>
{{/if}} --}}

{{!-- {{else}}
<h6 class="center-align">You must be <a href="/login">logged in</a> to view the dashboard.</h6>

{{/if}} --}}


<script src="../js/dashboard.js"></script>