{{#if logged_in}}
<h5 class="center-align fredoka">Thanks for supporting Jen's Hens!</h5>


<h6 class="center-align fredoka">My Orders</h6>

<!-- Loop over each object in the projects array -->
<div class="container">
<table>
    <thead>
        <tr>
            <th>Fulfilled?</th>
            <th>Order Date</th>
            <th>Order ID</th>
            <th>Qty Requested</th>
            <th>Item Price</th>
            <th>Extended Price</th>
        </tr>
    </thead>
    {{#each Orders as |order| }}
    <tbody class="orderBody">
        {{#if fulfilled}}

        <td>
            {{format_date updated_at}}

        </td>
        {{else}}
        <td>
            Waiting to be laid!

        </td>
        {{/if}}
        <td>{{format_date created_at}}</td>        
        <td>{{id}}</td>
        <td>{{order_quantity}}</td>
        <td>$0.50</td>
        {{!-- <td>$9.00</td> --}}
        <td>${{multiply order_quantity 0.5}}</td>
    </tbody>

{{/each}}
</table>
</div>
{{/if}}
